/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";//add reset for a full reset

/*Variables globales*/

/* general */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
header {
    position: sticky;
}


img {
    margin: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.bg-green {
    background-color: #93CBA6;
}

.bg-orange {
    background-color: #F1AD32;
}

.bg-red {
    background-color: #841411;
}

.bg-blue {
    background-color: #1B9996;
}

.bg-yellow {
    background-color: #EBDB01;
}

.text-green {
    color: #93CBA6;
}

.text-orange {
    color: #F1AD32 !important;
}

.text-red {
    color: #841411;
}

.text-blue {
    color: #1B9996;
}

.text-yellow {
    color: #EBDB01;
}

.i-big {
    font-size: 1.6em;
    color: #F1AD32;
}

.i-big-green {
    font-size: 2em;
    color: #93CBA6;
}

.border-green {
    border-color: #93CBA6 !important;
}

.text-deco-none {
    text-decoration: none !important;
}

.shadow-circle {
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.75), 0px 0px 0px 1px #FFF inset;
    border: none !important;
    border-radius: 50%;
}

.shadow-circle:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75), 0px 0px 0px 1px #FFF inset;
    border: none !important;
    border-radius: 50%;
}