<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 mt-5">

    <div class="bg-green shadow">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 ml-4 text-uppercase font-weight-bold text-secondary">Suivez nous sur les réseaux sociaux</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.facebook.com/maisondelavenircomminges/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="fb-ic"><i class="fa fa-facebook white-text mr-4"> </i></a>-->
                    
                    <!-- Twitter -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://twitter.com/MDA_Comminges" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x text-light shadow-circle"></i>
                        </span>
                        </a>
                    <!--<a class="tw-ic"><i class="fa fa-twitter white-text mr-4"> </i></a>-->

                    <!--Linkedin -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.linkedin.com/company/maison-de-l-avenir-comminges-pyr%C3%A9n%C3%A9es/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="li-ic"><i class="fa fa-linkedin white-text mr-4"> </i></a>-->
                    
                    <!--Instagram-->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.instagram.com/mda_comminges/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="ins-ic"><i class="fa fa-instagram white-text"> </i></a>-->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 text-green">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 bg-blue rounded">
                <!-- Links -->
                <h6 class="mt-1 text-uppercase font-weight-bold text-orange">Partenaire</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="font-weight-bold text-green" href="https://www.haute-garonne.fr/" target="_blank">Conseil Départemental de la Haute-Garonne</a>
                </p>
                <!--<p>
                    <a class="font-weight-bold text-green" href="https://simplon.co/occitanie/" target="_blank">Simplon Occitanie</a>
                </p>-->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4 bg-yellow rounded">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold text-orange">MDA - Maison de l'Avenir</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-secondary">Coop'Café est un site au service du Répar'café de la Maison de l'Avenir.
                    <br> La Maison de l'Avenir Comminges Pyrénées est un projet de tiers-lieu offrant à chacun des espaces, services,
                    matériels, et réseaux permettant une évolution professionnelle et personnelle, individuelle et collective
                    ....</p>
                <p>
                    <a class="font-weight-bold text-green text-center" href="https://maisondelavenirstgo.jimdo.com/" target="_blank">Voir tout les services de la MDA</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold text-orange">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-secondary">
                    <i class="fa fa-home mr-3"></i> 1, Rue de l’avenir<br>31800 Saint Gaudens<br>Occitanie - France</p>
                <p class="text-secondary">
                    <i class="fa fa-envelope mr-3"></i> contact@maisondelavenir.eu</p>
                <p class="text-secondary">
                    <i class="fa fa-phone mr-3"></i> 07 71 69 17 12</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>