<!-- Links button social-->

<!-- <div class="bg-white"> -->

<!-- </div> -->
<!-- </div> -->
<!-- End Links buttons social-->


<!-- Footer -->
<footer class="bg-orange-clair text-dark mt-0">
    <div class="container-fluid py-3 text-center">
        <!--Partenaire-->
        <div class="row">
            <div class="col-md-4 sm-12">
                <h5 class="text-uppercase font-weight-bold text-blue">Partenaire</h5>
                <span>
                    <a class="font-weight-bold text-dark" href="https://www.haute-garonne.fr/" target="_blank">Conseil Départemental de la haute-garonne</a>
                </span>
            </div>
            <!--Contact-->
            <div class="col-md-4 sm-12">
                <h5 class="text-uppercase font-weight-bold text-blue">Contact</h5>
                <p class="text-dark">
                    <i class="fa fa-envelope mr-3"></i> contact@maisondelavenir.eu</p>
                <p class="text-dark">
                    <i class="fa fa-phone mr-3"></i> 07 71 69 17 12</p>
            </div>
            <!--Adresse-->
            <div class="col-md-4 sm-12">
                <h5 class="text-uppercase font-weight-bold text-blue">Adresse</h5>
                <p class="text-dark">
                    <i class="fa fa-home mr-3"></i> 1, Rue de l’avenir
                    <br>31800 Saint Gaudens
                    <br>Occitanie - France</p>
            </div>
            <!--Mentions légales-->
            <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 mb-0 text-center text-red">
                <span class="h6">Tout droits réservés.</span>
                <a class="text-red ml-2" href="/mention">Mentions Légales</a>
            </div>

        </div>

    </footer>
    <!-- End Footer-->


      
        


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>

</html>