<!-- Links button social-->

    <div class="bg-white">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h5 class="mb-0 ml-4 text-uppercase font-weight-bold text-blue">Suivez nous sur les réseaux sociaux</h5>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.facebook.com/maisondelavenircomminges/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="fb-ic"><i class="fa fa-facebook white-text mr-4"> </i></a>-->
                    
                    <!-- Twitter -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://twitter.com/MDA_Comminges" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x text-light shadow-circle"></i>
                        </span>
                        </a>
                    <!--<a class="tw-ic"><i class="fa fa-twitter white-text mr-4"> </i></a>-->

                    <!--Linkedin -->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.linkedin.com/company/maison-de-l-avenir-comminges-pyr%C3%A9n%C3%A9es/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="li-ic"><i class="fa fa-linkedin white-text mr-4"> </i></a>-->
                    
                    <!--Instagram-->
                    <a class="bg-transparent m-1 text-deco-none" href="https://www.instagram.com/mda_comminges/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x text-light shadow-circle"></i>
                        </span>
                    </a>
                    <!--<a class="ins-ic"><i class="fa fa-instagram white-text"> </i></a>-->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>
</div>
<!-- End Links buttons social-->


<!-- Footer -->
<footer class="bg-orange shadow-lg text-dark mt-4">
    <div class="container-fluid py-3 text-center">

        <!--Title-->
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-uppercase font-weight-bold text-blue">
                    <a class="text-blue" href="https://www.haute-garonne.fr/" target="_blank">Partenaire</a>
                </h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h5 class="text-uppercase text-center font-weight-bold text-blue">Contact</h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            </div> 
            <div class="col-md-3"></div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p class="text-dark"><i class="fa fa-envelope mr-3"></i> contact@maisondelavenir.eu</p>
            </div>
            <div class="col-md-3">
                <p class="text-dark"><i class="fa fa-home mr-3"></i> 1, Rue de l’avenir<br>31800 Saint Gaudens<br>Occitanie - France</p>
            </div>
            <div class="col-md-3">
                <p class="text-dark"><i class="fa fa-phone mr-3"></i> 07 71 69 17 12<br><br>
                    <a class="font-weight-bold text-blue" href="https://maisondelavenirstgo.jimdo.com/" target="_blank">Voir tout les services de la MDA</a>
                </p> 
            </div>

        </div>
    </div>
</footer>
<!-- End Footer-->


<!-- Mention légale-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-red">
        <p class="h6">Tout droits réservés.<a class="text-red ml-2" href="/mention">Mentions Légales</a></p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>