<!-- social bar horizontal -->
<div class="container text-center social bg-transparent d-xl-none d-lg-none d-sm-block d-md-block">
    <hr class="bg-orange d-xl-none d-lg-none d-sm-block d-md-block">
    <h5 class="mb-3 text-uppercase font-weight-bold text-blue">Suivez nous sur les réseaux sociaux</h5>
    <div class="socializer mb-3 a sr-48px sr-circle sr-zoom sr-icon-white sr-bdr-white sr-pad .d-md-none .d-lg-block">
        <span class="sr-facebook">
            <a href="https://www.facebook.com/maisondelavenircomminges/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
        <span class="sr-twitter">
            <a href="https://twitter.com/MDA_Comminges"
                target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="sr-linkedin">
            <a href="https://www.linkedin.com/company/maison-de-l-avenir-comminges-pyr%C3%A9n%C3%A9es/"
                target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
        <span class="sr-instagram">
            <a href="https://www.instagram.com/mda_comminges/ " target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
    </div>
</div>

<!-- Socializer vertical left -->
<div class="sr-sharebar sr-sb-vl sr-sb-left d-none d-lg-block">
    <div class="socializer a sr-48px sr-circle sr-zoom sr-vertical sr-icon-white sr-bdr-white sr-pad">
        <span class="sr-facebook">
            <a href="https://www.facebook.com/maisondelavenircomminges/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
        <span class="sr-twitter">
            <a href="https://twitter.com/MDA_Comminges"
                target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="sr-linkedin">
            <a href="https://www.linkedin.com/company/maison-de-l-avenir-comminges-pyr%C3%A9n%C3%A9es/"
                target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
        <span class="sr-instagram">
            <a href="https://www.instagram.com/mda_comminges/ " target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
    </div>
</div>