<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>

        <div class="container mt-4 bg-green rounded-xl">

            <h1 class="text-center text-bold text-red pt-3">Mentions Légales - RGPD</h1>
            <p class="text-left text-secondary">Notre site est conforme Au RGPD (Règlement Général sur la Protection des Données) RÈGLEMENT du PARLEMENT EUROPÉEN
                (UE) 2016/679 et du CONSEIL de l'EUROPE du 27 avril 2016 relatif à la protection des personnes physiques
                à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.
            </p>

            <h2 class="text-center text-red">Introduction</h2>
            <p class="text-left text-secondary">Le document ci-dessous présente les termes suivants que l’on définit ainsi : https://coopcafe.herokuapp.com/
                <br> Quand vous naviguez sur nos sites internet, notamment https://coopcafe.herokuapp.com/ (nommé le « site internet »
                dans ce qui suit), vous donnez votre accord au traitement de vos données personnelles nommé la « Politique »
                dans la suite de ce document tel qu’expliqué dans cette « Politique ».
                <br> La protection de vos données enregistrées compte pour nous. De ce fait, la politique des données a été revisitée
                et actualisée en prenant en compte les exigences du Règlement Général sur le Protection des Données. Il est
                bon de télécharger et de sauvegarder cette « Politique ».
                <br>
                <br> Définitions utiles :
                <br> « Donnée à caractère personnel » : Toute information identifiant directement ou indirectement une personne
                physique (ex : nom, n° de téléphone, commune de résidence, adresse mail…) ;
                <br> « Traitement » : Toute opération, ou ensemble d’opérations, portant sur de telles données, quel que soit
                le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation, modification, extraction,
                consultation, utilisation, communication par transmission diffusion ou toute autre forme de mise à disposition,
                rapprochement ou interconnexion, verrouillage, effacement ou destruction, …) ;
                <br> « Fichier » : Tout ensemble structuré de données à caractère personnel accessibles selon des critères déterminés,
                que cet ensemble soit centralisé, décentralisé ou réparti de manière fonctionnelle ou géographique ;
                <br> « Responsable du/de traitement » : Le responsable d’un traitement de données à caractère personnel est,
                sauf désignation expresse par les dispositions législatives ou réglementaires relatives à ce traitement,
                la personne, l’autorité publique, le service ou l’organisme qui détermine ses finalités et ses moyens. En
                pratique et en général, il s’agit de la personne morale incarnée par son représentant légal ;
                <br> « Sous-traitant » : La personne physique ou morale, l’autorité publique, le service ou un autre organisme
                qui traite des données à caractère personnel pour le compte du responsable du traitement ;
                <br> « Violation de données à caractère personnel » : Une violation de la sécurité entraînant, de manière accidentelle
                ou illicite, la destruction, la perte, l’altération, la divulgation non autorisée de données à caractère
                personnel transmises, conservées ou traitées d’une autre manière, ou l’accès non autorisé à de telles données ;
                <br> « Consentement » de la personne concernée : toute manifestation de volonté libre, spécifique, éclairée et
                univoque par laquelle la personne concernée accepte, par une déclaration ou par un acte positif clair, que
                des données à caractère personnel la concernant fasse l’objet d’un traitement ;
                <br> « Tiers » : Une personne physique ou morale, une autorité publique, un service ou un organisme autre que
                la personne concernée, le responsable du traitement, le sous-traitant et les personnes qui, placées sous
                l’autorité directe du responsable de traitement ou du sous-traitant, sont autorisées à traiter les données
                à caractère personnel.
            </p>
            <ul class="text-left text-secondary">
                <li>1. Quel type d’informations recueillons-nous et quelle utilisation en faisons-nous?</li>
                <li>1.1 Les données des visiteurs</li>
                <li>1.2 Les cookies</li>
                <li>1.3 L’adresse IP, les paramètres du navigateur et l’emplacement géographique</li>
                <li>1.4 Quelle utilisation faisons-nous de ces informations ?</li>
                <li>1.5 La conservation des données</li>
                <li>2. La divulgation d’informations personnelles</li>
                <li>2.1 Données visiteur</li>
                <li>2.2 Les avis clients</li>
                <li>2.3 Autres divulgations</li>
                <li>3. Responsabilité à l’égard du traitement des données</li>
                <li>3.1 Les informations dont nous sommes le responsable du traitement</li>
                <li>3.2 Les informations à l’égard desquelles l’utilisateur est responsable du traitement</li>
                <li>4. Les mesures de sécurité</li>
                <li>5. Les cookies</li>
                <li>5.1 Les types de cookies que nous utilisons</li>
                <li>5.2 La suppression des cookies</li>
                <li>6. Les droits des personnes concernées</li>
                <li>6.1 Les droits d’accès et d’information</li>
                <li>6.2 Le droit de rectification</li>
                <li>6.3 Le droit d’opposition</li>
                <li>6.4 Le droit à l’effacement</li>
                <li>6.5 Le droit à la limitation du traitement</li>
                <li>6.6 Le droit à la portabilité</li>
                <li>6.7 Le droit au refus de décisions individuelles automatisées, y compris le profilage</li>
                <li>7. Les modalités d’exercice des droits des personnes concernées</li>
                <li>8. Réclamation auprès de l’autorité de contrôle</li>
                <li>9. La notification d’une violation de données personnelles</li>
            </ul>


            <h2 class="text-left text-red">1. Quel type d’information recueillons-nous et quelle utilisation en faisons-nous ?</h2>
            <ul class="text-left text-secondary">
                <li>1.1  Les données des visiteurs</li>
                <p>Lorsque vous visitez notre sites web/application et/ou que vous vous inscrivez, nous pouvons vous demander
                    d’indiquer, si vous êtes d’accord :
                    <br> Votre Civilité (Nom, Prénom)
                    <br> Votre numéro de téléphone
                    <br> Votre adresse e-mail</p>
                <li>1.2  Les Cookies</li>
                <p>Nous utilisons des cookies sur notre site internet. Un cookie est une information numérique que l’on enregistre
                    depuis votre ordinateur.
                    <br> Pour plus d’indications concernant l’utilisation de ces cookies, vous pouvez vous référer aux sections
                    qui suivent.</p>
                <li>1.3  L’adresse IP, les paramètres du navigateur et l’emplacement géographique</li>
                <p>Lorsque vous naviguez sur notre site internet, nous identifions votre adresse IP ainsi que les paramètres
                    de votre navigateur. Une adresse IP est une adresse numérique attribuée à l’appareil depuis lequel vous
                    naviguez sur internet. Les paramètres du navigateur permettent d’identifier la langue et le fuseau horaire
                    de ce dernier. L’adresse IP permet aussi de géo localiser de manière approximative (au niveau de la ville),
                    avec votre consentement, votre appareil. Ces informations permettent de suivre l’ordinateur utilisé en
                    cas d’abus ou d’action illicite suite à la visite ou à l’utilisation de notre site internet.</p>
                <li>1.4  Quelle utilisation faisons-nous de ces informations</li>
                <p>Les informations que vous nous fournissez peuvent être utilisées :
                    <br> Dans l’optique de vous donner l’accès à notre site internet et pour vous faire part de nos services
                    ;
                    <br> Afin de vous reconnaître en tant qu’utilisateur lorsque vous vous connectez à notre site ;
                    <br> Pour identifier, si vous faites partie de nos abonnés, votre profil, et ainsi personnaliser les informations
                    proposées et le service ;
                    <br> Afin d’améliorer notre site internet et nos services ;
                    <br> Afin que vous receviez nos informations (informations produits, informations partenaires) ;
                    <br> Afin de vous envoyer des demandes d’avis clients et des enquêtes de satisfaction sur internet ;
                    <br> Pour diverses raisons professionnelles internes, comme l’analyse des données, le développement de nouveaux
                    services et produits, la modification ou l’amélioration de nos services et de notre site internet, la
                    prévention et le contrôle de la fraude, l’identification des tendances des usagers, l’analyse de l’efficacité
                    des campagnes de promotion et l’expansion et l’exploitation de nos activités commerciales ;
                    <br> Afin d’être à jour au niveau des dispositions juridiques et les procédures judiciaires applicables,
                    les normes pertinentes du secteur et les politiques internes, et les demandes des autorités publiques ;
                    <br> Dans l’optique de faire appliquer nos Conditions Générales ;
                    <br> Afin de protéger nos opérations ;
                    <br> Afin de protéger notre confidentialité, nos droits, notre propriété ou notre sécurité et ceux de nos
                    partenaires, ainsi que les vôtres ou ceux de tiers ;
                    <br> Afin de nous permettre de limiter les dommages que nous risquons d’encourir ou d’exercer des recours
                    disponibles ;
                    <br> Les informations dont nous disposons peuvent aussi être utilisées d’autres façons. Dans ces cas-là,
                    nous en détaillerons l’utilisation au moment de la collecte. Il nous est possible de divulguer ou d’utiliser
                    des informations qui ne sont pas personnelles pour tout motif tant que cela reste dans le cadre de la
                    loi en vigueur.
                    <br>
                </p>
                <li>1.5 La conservation des données</li>
                <p>Lorsque nous récoltons des données avec les cookies, celles-ci sont conservées le temps de la connexion .</p>
            </ul>

            <h2 class="text-left text-red">2. La divulgation d’informations personnelles</h2>
            <ul class="text-left text-secondary">
                <li>2.1. Les données personnelles des visiteurs</li>
                <p>Nous ne transmettons les données personnelles à aucun tiers sans consentement clair et explicite en amont.</p>
                <li>2.2  Les avis clients</li>
                <p>Si vous publiez votre avis à propos de nos services sur internet (par exemple sur Facebook, Google Reviews,
                    …), l’avis partagé et la transmission d’informations personnelles qui peut en découler est à votre entière
                    responsabilité. Les conditions générales d’utilisation de ces services qui régissent ces transmissions
                    ne rentrent pas dans le cadre de la responsabilité de la MDA.</p>
                <li>2.3  Autres divulgations</li>
                <p>Nous pouvons aussi divulguer vos informations personnelles ou d’utilisateur (ID, …) dans les circonstances
                    suivantes aux parties suivantes, sans lien avec ce qui précède :
                    <br> Afin de permettre à des consultants, des fournisseurs tiers et autres prestataires de services d’effectuer
                    des services en notre nom ;
                    <br> Afin de répondre aux demandes des autorités publiques, et aux procédures en justice (y compris, sans
                    s’y limiter, les injonctions et ordonnances des tribunaux) ou de se conformer aux lois ;
                    <br> Afin de coopérer avec les autorités publiques et les organismes réglementaires, y compris, sans s’y
                    limiter, les normes commerciales, l’autorité de la concurrence et des marchés, ainsi que le porte-parole
                    français des consommateurs, en lien avec un renvoi de plainte ou une enquête ;
                    <br> Des tiers pour assurer la protection de nos opérations ;
                    <br> Des tiers afin d’exercer des recours disponibles ou de limiter un préjudice que nous pourrions subir ;
                    <br> Des tiers pour enquêter, prévenir, prendre des mesures ou agir à l’égard d’activités illicites, y compris,
                    sans s’y limiter, le détournement de notre site Internet et la fraude ;
                    <br> Aux outils de communication mail ou SMS (type Mailchimp…)
                    <br> A d’autres outils qui seraient spécifiés en amont de la récolte de données
                    <br>
                </p>
            </ul>

            <h2 class="text-left text-red">3. Responsabilité à l’égard du traitement des données</h2>
            <ul class="text-left text-secondary">
                <li>3.1  Informations dont nous sommes le responsable du traitement</li>
                <p>Nous sommes le responsable du traitement des données que nous recueillons avec votre accord.
                    <br> Nous sommes aussi responsables du traitement des données en ce qui concerne les informations qui sont
                    divulguées à d’autres prestataires (voir la section 2.4). La collecte des données par la MDA est régie
                    par les lois françaises en matière de protection des données.
                    <br> Étant responsable du traitement des données, la MDA s’assure que ses sous-traitants respectent les mesures
                    de sécurité techniques, physiques et organisationnelles qui sont nécessaires, pertinentes et raisonnables
                    afin de garantir la protection des données collectées.
                    <br>
                </p>
                <li>3.2  Les informations à l’égard desquelles l’utilisateur est responsable du traitement</li>
                <p>Les utilisateurs du site sont responsables du traitement des données qui concernent le contenu divulgué par
                    eux sur les réseaux sociaux ou les sites d’avis clients.</p>
            </ul>

            <h2 class="text-left text-red">4. Les mesures de sécurité</h2>
            <p class="text-left text-secondary">La MDA fait en sorte d’appliquer des mesures raisonnables au niveau organisationnel, technique et administratif
                afin de protéger les informations personnelles des utilisateurs, et nous effectuons de manière régulière
                des contrôles du système afin d’y détecter de possibles problèmes.
                <br> Un chiffrement sécurisé est toutefois déjà appliqué sur certaines transmissions de données, comme par exemple
                sur les données e-mails récupérées.
            </p>

            <h2 class="text-left text-red">5. Les cookies</h2>
            <p class="text-left text-secondary">Notre site Internet utilise des cookies. En utilisant notre site internet, vous donnez votre accord à l’utilisation
                des Cookies de la manière qui est décrite ci-dessous.</p>
            <ul class="text-left text-secondary">
                <li>5.1  Les types de cookies que nous utilisons</li>
                <p>Les cookies sont des informations numérisées depuis le site internet qui sont enregistrées sur votre ordinateur,
                    sur votre smartphone ou sur votre tablette. Ces informations permettent une communication plus efficace
                    entre l’utilisateur et le navigateur. Le site utilise des cookies de session, ainsi que des technologies
                    semblables à ces derniers. Les cookies de session quant à eux sont temporaires et sont donc supprimés
                    dès que votre navigateur est fermé.
                </p>
                <li>5.2  La suppression des cookies</li>
                <p>Dans le cas où vous désirez effacer les cookies enregistrés sur votre ordinateur, il est possible d’effectuer
                    une manipulation. Il faut appuyer sur CTRL + MAJ + SUPPR simultanément. En cas de problème au niveau
                    de ce raccourci, vous pouvez regarder l’aide que présente votre navigateur. Il est important de savoir
                    que si vous refusez les cookies de notre site, certains problèmes peuvent apparaître lorsque vous utilisez
                    ce-dernier. Certaines fonctions peuvent être en partie ou complètement inaccessibles.
                </p>
            </ul>


            <h2 class="text-left text-red">6. Les droits des personnes concernées</h2>
            <ul class="text-left text-secondary">
                <li>6.1 Les droits d’accès et d’information</li>
                <p>Comme l’indique la loi Informatique et Libertés de 1978, les données personnelles que nous traitons sont
                    à votre disposition et vous avez donc un droit d’accès et d’information à leur égard.
                    <br> Si vous nous le demandez, nous vous ferons part de la raison pour laquelle nous traitons vos données
                    personnelles, du type d’informations dont nous disposons vous concernant, du délai imposé avant la suppression
                    de ces données et des personnes susceptibles de recevoir ces informations personnelles. Cette politique
                    des données fait déjà état d’un bon nombre d’informations en ce qui concerne l’utilisation de vos données
                    personnelles.
                </p>
                <li>6.2  Le droit de rectification</li>
                <p>Comme l’indique la loi Informatique et Libertés de 1978, les informations que nous traitons sont susceptibles
                    d’être rectifiées par les utilisateurs. Vous êtes en droit de les modifier.
                    <br> Dès lors, si nous traitons des données vous concernant qui soient erronées, il est important que vous
                    nous contactiez afin que nous puissions effectuer leur modification.
                </p>
                <li>6.3 Droit d’opposition</li>
                <p>Vous êtes en droit, comme l’indique le Règlement Général sur la Protection des Données, de vous opposer au
                    traitement de vos données personnelles.
                    <br> Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article
                    21 du règlement).
                </p>
                <li>6.4 Le droit à l’effacement</li>
                <p>Vous pouvez demander la suppression de vos données personnelles. Ce droit à l’oubli est indiqué dans le Règlement
                    Général sur la Protection des Données.
                    <br> Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article
                    17 du règlement).
                </p>
                <li>6.5 Le droit à la limitation du traitement</li>
                <p>Vous pouvez demander la limitation du traitement de vos données personnelles. Ce droit est indiqué dans le
                    Règlement Général sur la Protection des Données.
                    <br> Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article
                    18 du règlement).
                </p>
                <li>6.6 Le droit à la portabilité</li>
                <p>Vous pouvez demander la portabilité de vos données personnelles. Ce droit est indiqué dans le Règlement Général
                    sur la Protection des Données.
                    <br> Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article
                    20 du règlement).
                </p>
                <li>6.7 Le droit au refus de décisions individuelles automatisées, y compris le profilage</li>
                <p>Vous pouvez refuser les décisions individuelles automatisées. Ce droit est indiqué dans le règlement général
                    sur la protection des données.
                    <br> Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article
                    22 du règlement).
                </p>
            </ul>

            <h2 class="text-left text-red"> 7. Les modalités d’exercice des droits des personnes concernées</h2>
            <p class="text-left text-secondary">Si le traitement des données personnelles vous concerne et que vous souhaitez exercer l’un de vos droits mentionnés
                dans le point 6, merci de nous adresser un courrier par voie électronique à emma.mda@outlook.fr ou à contact@maisondelavenir.eu
                ou bien par voie postale à notre siège social.
                <br> Le traitement de ces demandes peut être refusé par la MDA (article 12.5 RGPD) si elles se révèlent excessives
                ou infondées, par exemple lorsqu’elles sont répétitives.
            </p>

            <h2 class="text-left text-red">8. Réclamation auprès de l’autorité de contrôle</h2>
            <p class="text-left text-secondary">Dans le cas où la MDA ne respecte pas ses obligations, la personne concernée par un traitement de données personnelles
                est en droit d’introduire une réclamation auprès de la CNIL (coordonnées : https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil),
                autorité de contrôle compétente en matière de protection des données personnelles.<br><br>
            </p>


        </div>




        <%-include ../partials/footer.ejs%>