<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>

<!--Carousel Wrapper-->
<div class="container">
    <div class="row">

        <div class="col-md-6 sm-12">
        <div id="multi-item-example" class="carousel slide carousel-multi-item">



    

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card mb-2" style="width:70%">





                     <div class="controls-top">
                         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>

                             <ol class="carousel-indicators">
                                <li data-target="#multi-item-example" data-slide-to="1" class="active"></li>
                             </ol>   

                        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>

                    <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/avatar1.png" style="width:70%" alt="Card avatar 1">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-secondary col align-self-center"">Ok</button>

      
    


                    </div>
                </div>
            </div>
</div>
</div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card mb-2" style="width:70%">
                    <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/avatar2.png" style="width:70%" alt="Card avatar 2">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-secondary col align-self-center"">Ok</button>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        
                

    </div>
    <!--/.Slides-->

</div>
</div>

<!-- Infos profil -->
        <div class="col-md-6 sm-12"><p>Coucou!!!</p></div>




</div>
</div>
<!--/.Carousel Wrapper-->






    <%-include ../partials/footer.ejs%>